*{
    margin-top: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    margin-right: auto;
    margin-left: auto;
    font: Tahoma;
}

/*  Navigation Bar  */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    letter-spacing: 2px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.logo{
    float: left;
    color:whitesmoke;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 4px;
    line-height: 80px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: whitesmoke;
    letter-spacing: 2px;
    padding-bottom: 15px;
    font-weight: lighter;
}

.sbutton{
    padding-bottom: 15px;
    cursor: pointer;
    display: none;
}

.sbutton div{
    line-height: 80px;
    width: 25px;
    height: 1px;
    background-color: whitesmoke;
    flex-direction: column;
    margin: 4px;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 52%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: black;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 15vh;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .sbutton{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

main{
    margin-top: 10vh;
    text-align: center;
}

footer{
    color: whitesmoke;
    font-weight: lighter;
    background-color: rgba(11, 8, 8, 0.58)
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 7vh;
    text-align: center;
}
