*{
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}


body {
    margin-right: auto;
    margin-left: auto;
    font: Tahoma;
}

/*  Navigation Bar  */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: black;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.logo{
    float: left;
    color:whitesmoke;
    align-content: flex-end;
    font-size: 22px;
    font-size-adjust: inherit;
    letter-spacing: 4px;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 80px;
    padding: 0 100px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: lighter;
}