*{
    text-decoration: none;
}

a {
    color: black;
}
a:hover{
    color: black;
}

body{
   font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html.sr .load-hidden {
    visibility: hidden;
}

.navbar-dark{
    background: black;
    border: 0;
    color: whitesmoke;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-brand{
    size: 25px !important;
}

.nav-link{
    size: 0.76rem !important;
}
